header {
  width: 100%;
  height: 200px;
  background-color: rgba(200, 150, 50, 0.5);
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgba(1, 1, 1, 0.9);
  color: white;
}

table {
  width: 100%;
}

td {
  border: 1px solid black;
  color: white;
  font-family: "Raleway", sans-serif;
}

#a1 {
  background-color: rgba(50, 50, 50, 1);
}

#a2 {
  background-color: rgba(156, 128, 98, 1);
}

#a3 {
  background-color: rgba(25, 1, 25, 1);
}

#a4 {
  background-color: rgba(50, 100, 25, 1);
}

#a5 {
  background-color: rgba(21, 10, 130, 1);
}

#a6 {
  background-color: rgba(25, 150, 12, 1);
}

#a7 {
  background-color: rgba(150, 120, 210, 1);
}

#a8 {
  background-color: rgba(180, 25, 51, 1);
}

#a9 {
  background-color: rgba(200, 69, 137, 1);
}

#a10 {
  background-color: rgba(23, 131, 141, 1);
}

#a11 {
  background-color: rgba(11, 134, 241, 1);
}

#a12 {
  background-color: rgba(143, 12, 201, 1);
}

#a13 {
  background-color: rgba(199, 121, 53, 1);
}

#a14 {
  background-color: rgba(95, 84, 71, 1);
}

#a15 {
  background-color: rgba(11, 101, 21, 1);
}

#a16 {
  background-color: rgba(124, 41, 241, 1);
}
